/* Responsive for navbar */
@media (max-width:963px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;

    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(1, 1, 1, 0.7);
        display: none;
    }
    
    .header .navigation ul li {
        width: 100%;
    }
    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;
    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;

    }

    .header .navigation ul li ul li {
        background-color:  rgba(1, 1, 1, 0.7);
    }

    #toggle:checked ~ .navigation {
        display: block;
    }

}

/* Responsive for main, from 320px*/

@media screen and (min-width: 320px) {
    
    

    .club-name-top-left {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .club-name-top-left h1>p {
        text-align: center;
        
    }
    .club-name-top-left-p {
        font-size: 14px;
        text-align: center;
    }    
    
    .club-name-bottom {
        padding: 10px;
        font-size: 12px;
        text-align: center;
        margin: 5px;
    }

    .top-sports {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
        padding: 5px;
    }
















    




}
