/* Responsive for navbar */
@media (max-width:963px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;

    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(1, 1, 1, 0.7);
        display: none;
    }
    
    .header .navigation ul li {
        width: 100%;
    }
    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;
    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;

    }

    .header .navigation ul li ul li {
        background-color:  rgba(1, 1, 1, 0.7);
    }

    #toggle:checked ~ .navigation {
        display: block;
    }

}
