@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    /* background-color: #60a0c6;         */
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(54, 108, 156) ;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo img {
    height: 4rem;
    width: 3,5rem;
}

.navigation ul {
    list-style: none;
}

.header .navigation ul li {
    float: left;
    position: relative;   
}

.header .navigation ul li a {
    font-size: 1.2rem;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.header .navigation ul li a:hover {
    background-color: #0f0661;    
}

.header .navigation ul li ul {
    position: absolute;   
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
    right: 10;
    margin-top: 3px;
}



.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;

}

.header .navigation ul li ul li {
    width: 100%;
}

.header .navigation ul li:hover > ul {
    display: initial;
}

#toggle,
.header label {
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;
}

/* General editions */

.club-name-top-left h1 {
    color: #0f0661;
    font-weight: 800;
    font-family:'Montserrat', sans-serif;; 
    text-transform: uppercase;  
}

.club-name-top-left h1 span {
    font-size: 30px;
    color: #1c0da3;
}

.club-name-top-left-p {
    color: #0f0661;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.club-name-top-left-p span {
    color: #1c0da3;
}

.club-name-bottom {
    background-color: #3421e6;
    font-family: poppins;
}

.club-name-bottom p {
    font-weight: 800;    
}
.club-name-bottom p span {
    text-transform: uppercase;
    transform: all 5s ease;
}
.club-name-bottom p span:hover {
    color: white;
    transform: all 5s ease;
}


