@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    
}

a {
    text-decoration: none;
}

html {
    scroll-padding-top: 150px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #a4c0d1;        
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(54, 108, 156) ;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo img {
    height: 4rem;
    width: 3,5rem;
}

.navigation ul {
    list-style: none;
}

.header .navigation ul li {
    float: left;
    position: relative;   
}

.header .navigation ul li a {
    font-size: 1.2rem;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.header .navigation ul li a:hover {
    background-color: #0f0661;    
}

.header .navigation ul li ul {
    position: absolute;   
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
    right: 10;
    margin-top: 3px;
}



.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;

}

.header .navigation ul li ul li {
    width: 100%;
}

.header .navigation ul li:hover > ul {
    display: initial;
}

#toggle,
.header label {
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;
}

/* General editions */

/* Main */
.club-name-top-left h1 {
    color: #0f0661;
    font-weight: 800;
    font-family:'Montserrat', sans-serif; 
    text-transform: uppercase;  
}

.club-name-top-left h1 span {
    font-size: 30px;
    color: #1c0da3;
}

.club-name-top-left-p {
    color: #0f0661;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 10px 
}
.club-name-top-left-p span {
    color: #1c0da3;
}

#club-name-bottom {
    background-color: rgb(54, 108, 156);
    font-family: poppins;
}

#club-name-bottom p {
    font-weight: 800;    
}
#club-name-bottom p span {
    text-transform: uppercase;
    transform: all 5s ease;
}
#club-name-bottom p span:hover {
    color: white;
    transform: all 5s ease;
}
.club-name-top-right {
    max-width: 100%;
    height: auto;
}

#top-sports {   
    background-color: rgb(19, 10, 146);
    color: rgb(179, 179, 179);
}

.title-sports {
    font-family:'Montserrat', sans-serif;
    font-size: 17px;
    text-align: center;
}

.description-sports {
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
}

.club-sports section {
    margin: 15px;
    background-color: rgb(54, 108, 156);
}


.club-sports h2 {
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    padding: 10px;    
}

.club-sports img {
    width: 100%;
    height: auto;
    padding: 5px;
}

.club-sports p {
    font-family: poppins;
    color: #bebbd6;
    text-align: center;
    padding: 5px;
}

.socios-title {
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    font-size: 14px;
    padding: 0px 2px;
}

#socios-left {
    font-family: poppins;
    text-align: center;
    padding: 2px;
    margin: 5px;
}

.members {
    position: relative;
    text-align: center;
}

.members img {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

.members-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(209, 233, 245);
    font-size: 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
}




.members-title-benefits {
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.members-benefits-descriptions {
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    background-color: rgb(40, 78, 100);
    margin: 20px;
    height: 100px;
    width: auto;
    position: relative;
}

.members-benefits-descriptions p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#Contact {
    font-family: poppins;
    background-color: rgb(245, 245, 220);
}


.submit-button {
    margin: 5px;
}

.footer {
    background-color: #211494;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    color: white;   
}

.footer img {
    height: 70px;
    width: 70px;    
}

.footer-bottom img {
    width: 50px;
    height: 50px;
}

.footer-bottom  {
    
    text-decoration: none;            

}

